BASEURL_AUTH=https://auth.example.test
BASEURL_BASIC=https://basic.example.test
BASEURL_COMPLAINT=https://complaint.example.test
BASEURL_ORG=https://organization.example.test
BASEURL_TAMIN=https://tamin.example.test
API_TOKEN=
